<div class="container">
  <div class="row my-5 d-flex justify-content-between">
    <div class="col">
      <h1>Dogs</h1>
    </div>
    <div class="col-auto">
      <%= form_tag dogs_url, :method => "get" do %>
        <%= label_tag(:search, "Search for a dog:") %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :dog_name => nil)%>
      <% end %>
    </div>
  </div>
  
  <div class="row px-5">
    <div class="col">
      <ol>
        <% @dogs.each do |dog| %>
        <li>
          <%= link_to dog.dog_name, dog %>
        </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

