<div class="container">
  <div class="row my-5 d-flex justify-content-between">
    <div class="col">
      <h1>Customers</h1>
    </div>
    <div class="col-auto">
      <%= form_tag customers_url, :method => "get" do %>
      <%= label_tag(:search, "Search for a customer:") %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>

  <div class="row px-5">
    <div class="col">
      <ol>
        <% @customers.each do |customer| %>
        <li>
          <%= link_to "#{customer.first_name} #{customer.last_name}", customer_path(customer)%>
        </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

<div class="paginate">
    <%= paginate @customers %>
</div>



