<div class="container">
  <div class="row my-3 d-flex justify-content-end">
    <div class="col-auto">
      <div class="container">
            <%= form_tag products_url, :method => "get" do %>
            <%= label_tag(:search, "Search for product:") %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag("Search", :product_name => nil)%>
            <% end %>
      </div>
    </div>
  </div>

  <div class="col d-flex justify-content-center">
    <h1>Products</h1>
  </div>
  <div class="row px-5">
    <div class="col d-flex justify-content-center">
      <ol class="list-group list-group-flush" style="width: 50rem;">
        <% @products.each do |product| %>
         <li class="list-group-item d-flex justify-content-center">
          <%= link_to product.product_name, product,
            :class => "text-reset link-primary link-offset-2 link-underline link-underline-opacity-0" %>
        </li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-center">
    <%= paginate @products %>
  </div>
</div>





